<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="Book">
    <insert id="save" parameterType="book">
        insert into book_table(bookName,bookAuthor,bookPrice,bookPublisher)
        values (#{bookNAme},#{bookAuthor},#{bookPrice},#{bookPublisher})
    </insert>
    <select id="findBook" resultType="book">
        select * from book_table where bookId=2
    </select>
</mapper>














